<%- include header.ejs %>

    <div class="message-form" style="text-align: center;">
        <h1>About</h1>

        <p>This website is a project for the <a href="https://www.theodinproject.com/">Odin Project</a> curriculum.</p>
        <p>Created by:</p>
        <p><strong>Tulio Vieira</strong></p>
        <p><a href="https://github.com/tulio-vieira/"><i class="fa fa-github"></i> /tulio-vieira</a></p>

        <a href="/" class="submit-button gray" style="margin: 3em auto;">Home</a>
    </div>

<%- include footer.ejs %>