<%- include header.ejs %>        

    <div class="message-form login-form smaller">
        <h1>Oops</h1>
        <h2><%= status %></h2>
        <p>You need to be an admin to reach this page...</p>
        <p>Click <a href="/user/admin">here</a> to request admin status.</p>   
    </div>

<%- include footer.ejs %>